@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style type="text/css">
        p{
            font-size:14px;

        }
        
    </style>
    <h1 class="display-4 font-italic" style="color:ThreeDFace">Welcome</h1>
    <p>Learn about <strong><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</strong></p>
</div>
